---
import { Image } from "astro:assets";
import ConstructionIcon from "./icons/ConstructionIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import WaveIcon from "./icons/WaveIcon.astro";

interface Props {
  project: {
    name: string;
    description: string;
    url: string;
    imgPath?: string;
    regularUse: boolean;
    activeDevelopment?: boolean;
  };
  separator: boolean;
}
---

<a
  href={Astro.props.project.url}
  target="_blank"
  rel="noreferrer"
  class="flex gap-x-4 px-4 -ml-4 pt-4 rounded-xl hover:bg-neutral-50 dark:hover:bg-neutral-900 group"
>
  <div class="w-9 h-9 rounded-[10px] mt-[2px] shadow overflow-hidden">
    {
      Astro.props.project.imgPath ? (
        <Image
          src={Astro.props.project.imgPath}
          alt={Astro.props.project.name}
          class="rounded-[10px] w-full h-full object-contain"
          width="36"
          height="36"
        />
      ) : (
        <div class="bg-neutral-100 dark:bg-neutral-800 h-full flex justifiy-center items-center">
          <p class="text-sm text-neutral-400 font-semibold w-full text-center">
            {Astro.props.project.name[0].toUpperCase() +
              Astro.props.project.name[1]}
          </p>
        </div>
      )
    }
  </div>
  <div
    class:list={[
      "flex flex-col text-sm pb-4 text-neutral-700 dark:text-neutral-300 group-hover:border-transparent w-full",
      {
        "border-b border-b-neutral-100 dark:border-b-neutral-900":
          Astro.props.separator,
      },
    ]}
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <p>{Astro.props.project.name}</p>
      </div>
      <div class="flex items-center gap-2">
        {
          Astro.props.project.activeDevelopment ? (
            <div
              title="Active development"
              class="animate-pulse text-yellow-300"
            >
              <ConstructionIcon />
            </div>
          ) : null
        }
        {
          Astro.props.project.regularUse ? (
            <div title="I use it regularly">
              <WaveIcon />
            </div>
          ) : null
        }
        {
          Astro.props.project.url.includes("github.com") ? (
            <div title="Public">
              <GithubIcon size={14} />
            </div>
          ) : null
        }
      </div>
    </div>
    <p class="text-neutral-500">{Astro.props.project.description}</p>
  </div>
</a>
